@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

p {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button-primary {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 14px 25px;
    border-radius: 25px;
    background-color: #82C29B;
  }

  .heading-primary {
    color: #018893;
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 103.5%;
  }

  .content-primary {
    color: #2B3D67;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .imageWithText p {
    padding: 39px 0 0 0;
  }

  .imageWithText button {
    margin: 33px 0 0 0;
  }

}
